.bash_logout
.bashrc
.cache/*
.conda/*
.config/*
.ipython/*
.local/*
.profile
*.tgz
__pycache__/
nltk_data/
.jupyter/
B6_ProyectoIntegrador/data/geo-mx-2004.json
B6_ProyectoIntegrador/data/geo-mx-2004.zip
.ipynb_checkpoints/
*.gz
data/
*.pickle
